.host {
  position: absolute;
}
.hover-text {
  position: absolute;
  white-space: nowrap;
  border: 1px solid;
  border-radius: 4px;
  height: 20px;
  display: flex;
  align-items: center;
  padding: 0 4px;
  background-color: whitesmoke;
}
.moving {
  position: absolute;
  border: 1px dotted;
}
.trigger {
  position: absolute;
  z-index: 1;
}
