# Cargo related files.
/target

# NodeJs related files.
node_modules
yarn-error.log

# Excel backup file of libre office
*.xls#
*.xlsx#
.~*

# bundle generate files
dist

# jest files
coverage/

/pkg

.DS_Store

tests_output

# bazel related
/bazel-*

.vscode

/packages/node/src

.direnv
