[package]
name = "logisheets_controller"
version = "0.3.0"
description = "the core of LogiSheets"
authors = ["ImJeremyHe<yiliang.he@qq.com>"]
edition = "2018"
license = "MIT"

[dependencies]
chrono = "0.4.19"
futures = "0.3.19"
im = "15.0.0"
itertools = "0.10.1"
lazy_static = "1.4.0"
num = "0.4.0"
quick-xml = {version = "0.22.0", features = ["serialize"]}
rand = "0.8.4"
regex = "1"
serde = {version = "1.0.125", features = ["derive"]}
statrs = "0.15.0"
unicode-segmentation = "1.8.0"
colorsys = "0.6.5"

gents = {version = "0.1.0", path = "../gents"}
logisheets_base = {version = "0.3.0", path = "./base"}
logisheets_lexer = {version = "0.3.0", path = "./lexer"}
logisheets_parser = {version = "0.3.0", path = "./parser"}
logisheets_workbook = {version = "0.3.0", path = "../workbook"}
logisheets_astchecker = {version = "0.3.0", path = "./ast_checker"}
