.host {
  position: absolute;
  inset: 0;
  pointer-events: auto;
  z-index: 900;
  opacity: 0;
  transition: opacity 120ms ease-in-out;
}

.host.visible,
.host:hover {
  opacity: 1;
}
.track {
  position: absolute;
  inset: 0;
}
.thumb {
  position: absolute;
  border-radius: 4px;
  background-color: rgba(192, 198, 207, 0.9);
  transition: background-color 0.15s;
}
.thumb:hover {
  background-color: rgba(146, 152, 162, 0.95);
}

/* Horizontal scrollbar */
.x {
  left: 32px;
  right: 0px;
  bottom: 0;
  height: 10px;
  top: auto; /* cancel host's top from inset */
}
.x .track {
  height: 100%;
}
.x .thumb {
  height: 100%;
}

/* Vertical scrollbar */
.y {
  top: 24px;
  bottom: 0px;
  right: 0;
  width: 10px;
  left: auto;
}
.y .track {
  width: 100%;
}
.y .thumb {
  width: 100%;
}
