$border: 1px solid #e2e6ed;
$y-scrollbar-width: 16px;
$x-scrollbar-height: 16px;
.host {
  display: block;
  background-color: #f2f4f7;
  position: absolute;
  .thumb {
    transition: margin-left 0.2s;
  }
  &.x-scrollbar {
    border-top: $border;
    bottom: 0;
    width: calc(100% - #{$y-scrollbar-width});
    height: $x-scrollbar-height;
    .edit-scrollbar {
      display: flex;
    }
    .thumb {
      transition: margin-top 0.2s;
      height: 45%;
    }
    .thumb_container {
      align-items: center;
    }
  }
  &.y-scrollbar {
    border-left: $border;
    top: 0;
    right: 0;
    width: $y-scrollbar-width;
    height: calc(100% - #{$x-scrollbar-height});
    .edit-scrollbar {
      flex-direction: column;
      display: flex;
    }
    .thumb {
      transition: margin-left 0.2s;
      width: 45%;
    }
    .thumb_container {
      justify-content: center;
    }
  }
}
.thumb_container {
  position: relative;
  flex: 1;
  display: flex;
}
.thumb {
  position: absolute;
  border-radius: 4px;
  background-color: #c0c6cf;
  cursor: default;
  &:hover {
    background-color: #9298a2;
  }
}
