[package]
name = "buildtools"
version.workspace = true
edition.workspace = true
authors.workspace = true

[dependencies]
gents = { workspace = true }

logisheets-rs = { workspace = true }
logisheets_sequencer = { path = "../sequencer" }

[[bin]]
name = "generate"
path = "src/generate.rs"
