:host {
    flex-direction: column;
    display: flex;
}
.line {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: calc(100% - 16px);
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.6);
}
