<div>app work</div>
<h3>logi canvas</h3>
<logi-canvas></logi-canvas>
<h3>logi copy paste</h3>
<logi-copy-paste></logi-copy-paste>
<h3>logi img viewer</h3>
<logi-img-viewer></logi-img-viewer>
<h3>logi grid</h3>
<logi-grid></logi-grid>
<h3>logi text</h3>
<logi-text></logi-text>
<h3>logi translate</h3>
<logi-translate></logi-translate>
<h3>logi rect</h3>
<logi-rect></logi-rect>
<h3>logi mouseevent</h3>
<logi-mouseevent></logi-mouseevent>
<h3>logi input</h3>
<logi-keycode></logi-keycode>
<h3>logi textarea-canvas</h3>
<logi-textarea-canvas></logi-textarea-canvas>
