:host {
    flex-direction: column;
    display: flex;
}
.main-menu {
    align-items: center;
    display: flex;
    border-bottom: 1px solid #E2E6ED;
    height: 53px;
}
.content {
    flex: 1;
    overflow: hidden;
}
.content-detail {
    height: 100%;
}
