@use "assets/styles/shared";
.host {
  position: absolute;
  overflow: hidden;
  border-color: black;
  width: 2px;
  background-color: black;
  cursor: text;
  color: black;
  letter-spacing: 0;
  @include shared.set-font(14px);
}

@keyframes logi-sheets-cursor-smooth {
  0%,
  20% {
    opacity: 1;
  }
  60%,
  100% {
    opacity: 0;
  }
}

.logi-sheets-cursor-smooth {
  animation-name: logi-sheets-cursor-smooth;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
