$y-scrollbar-width: 16px;
$x-scrollbar-height: 16px;
.host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f2f4f7;
}
.fake-textarea {
  position: absolute;
  visibility: hidden;
}
.canvas {
  width: calc(100% - #{$y-scrollbar-width});
  height: calc(100% - #{$x-scrollbar-height});
  outline: none;
}
.middle-y-scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: $y-scrollbar-width;
  height: calc(100% - #{$x-scrollbar-height});
}
.middle-x-scrollbar {
  position: absolute;
  bottom: 0;
  width: calc(100% - #{$y-scrollbar-width});
  height: $x-scrollbar-height;
}
.highlight-cell {
  opacity: 0.6;
  position: absolute;
  border: 1px solid;
}
