.host {
  display: block;
}
.menus {
  flex-direction: row;
  align-items: center;
  display: flex;
}
.menu-btn {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 20px;
  padding: 0 10px;
  cursor: pointer;
  &.active {
    background-color: #1fbb7d;
    color: #fff;
  }
}
