.host {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #f2f4f7;
  font-size: 12px;
  gap: 8px;
}
.content {
  flex: 1;
  overflow: hidden;
  height: 100%;
  width: 100%;
  gap: 6px;
}
.debug-toolbar {
  position: absolute;
  z-index: 999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  background-color: white;
}

.container {
  flex-direction: row;
  display: flex;
  height: 100%;
}