name: rust test

on: [pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --verbose --workspace
      - name: Run tests
        run: cargo test --verbose --workspace

      - name: generate bindings and ensure clean
        run: cargo run --package buildtools --bin generate --all-features
      - uses: numtide/clean-git-action@v1

      - name: Test using Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - run: yarn install && cargo install wasm-pack
      - run: yarn workspace logisheets-web build
      - run: yarn run run-scripts && yarn run wasm
      - run: yarn build
      - run: yarn test
